$fti-dark-blue: (
    50 : #e4e5e9,
    100 : #bcbfc8,
    200 : #9094a3,
    300 : #63697e,
    400 : #414862,
    500 : #202846,
    600 : #1c243f,
    700 : #181e37,
    800 : #13182f,
    900 : #090A10,
    A100 : #6075ff,
    A200 : #2d49ff,
    A400 : #0021f9,
    A700 : #001ee0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$fti-light-blue: (
    50 : #e7eeff,
    100 : #c3d5ff,
    200 : #9bb9ff,
    300 : #739dff,
    400 : #5588ff,
    500 : #3773ff,
    600 : #316bff,
    700 : #2a60ff,
    800 : #2356ff,
    900 : #3256AB,
    A100 : #ffffff,
    A200 : #fcfcff,
    A400 : #c9d2ff,
    A700 : #afbcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fti-mono: (
    50: rgba(255, 255, 255, 0.8),
    100: rgba(225, 225, 225, 0.8),
    200: rgba(200, 200, 200, 0.8),
    300: rgba(175, 175, 175, 0.8),
    400: rgba(150, 150, 150, 0.8),
    500: rgba(125, 125, 125, 0.8),
    600: rgba(100, 100, 100, 0.8),
    700: rgba(75, 75, 75, 0.8),
    800: rgba(50, 50, 50, 0.8),
    900: rgba(0, 0, 0, 0.8),
    A100: rgba(225, 225, 225, 0.8),
    A200: rgba(200, 200, 200, 0.8),
    A400: rgba(150, 150, 150, 0.8),
    A700: rgba(75, 75, 75, 0.8),
    contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff)
);